<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <%= link_to "ClockApp", root_path, class: "navbar-brand font-weight-bold" %>
  <ul class="navbar-nav ml-auto mr-5">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Time Zones", timezones_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Stopwatches", stopwatches_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Alarms", alarms_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag (current_user.avatar), class: "img-profile-nav" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Edit", profile_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% end %>
  </ul>
</nav>
